{% extends 'base.html.twig' %}

{% block title %}Mon Compte - La Boutique{% endblock %}

{% block content %}
<h1>Mon Compte<h1>
<h6>Bienvenue <b> {{app.user.firstname}} </b>dans votre compte .<br/>
 C'est dans cet espace que vous pouvez gérer toute vos<b> Informations Personnelles . </b></h6>
<hr>
    <a href="{{path('account_password')}}">Modifier mot de Passe</a>


{% endblock %}
