{% extends 'base.html.twig' %}

{% block title %}Modifier Mon Mot De Passe - La Boutique{% endblock %}

{% block content %}
<h1>Modifier Mon Mot De Passe<h1>

  <h6>  <a href="{{path('account')}}">Retour</a> </h6>
    <hr>
        {{form(form)}}
    <hr>
{% endblock %}
