{% extends 'base.html.twig' %}

{% block title %}Confirmation Commande - Camping.TN {% endblock %}

{% block content %}
<h2>Confirmation de Commande</h2>
<p>Bonjour {{ app.user.firstname }} {{app.user.lastname }} ,
    Nous vous remercions pour votre commande .



</p>

{% endblock %}
